<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <% allCss.forEach(css => { %>
        <li>
            <a href="/<%= css.id %>/cssview">
                <p><%= css.name%> </p>
            </a>
            <form action="/<%= css.id %>/cssview?_method=DELETE" method="POST"
                style="display: inline; margin-left: 16px;">
                <input type="submit" value="DELETE" />
            </form>
        </li>
        <% }) %>
    </ul>
</body>

</html>