<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Document</title>
</head>

<body>
    <h1>LiCode</h1>
    
    <ul>
        <% categories.forEach(category => { %>
        <li>
            <a href="/<%= category._id %>/<%= category.cat %>"> <%= category.type %>
                <img src="<%= category.img %>">
                
            </a>
        </li>
        <% }) %>
    </ul>
</body>

</html>