<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book List</title>
	</head>
	<body>
		<h1>New HTML Question</h1>
		<form action="/61d8dba87557c55c5353fa81/html" method="POST">
			Type: <input type="text" name="type" /><br />
			Name: <input type="text" name="name" /><br />
            Description: <input type="text" name="description"/><br />
            A: <input type="text" name="a" /><br />
            B: <input type="text" name="b" /><br />
            C: <input type="text" name="c" /><br />
            D: <input type="text" name="d" /><br />
            Answer: <input type="text" name="answer" /><br />
			<input type="submit" name="" value="Add Question" />
		</form>
    </div>
</body>
</html>